.joke-card-container{
  height:550px;
  /* background-color: #ffc0cc; */
  color:black;
}

.joke-detail{
  position: absolute;
  top:200px;
  display:flex;
  justify-content: space-around;
  width:100%;
}