.home-container {
  display:grid;
  gap: 25px;
  grid-template-rows: 1fr 2fr 1fr;
}

ul{
  padding-top: 50px;
  list-style-type: none;
  display:flex;
  justify-content: space-evenly;
}

.footer {
  height:100%;
  background-color: rgb(53, 93, 194);
}